numpy~=1.18.0
six~=1.15.0
dipy~=1.1.1
nibabel~=3.0.0
h5py~=2.9.0
packaging~=20.4
pynrrd~=0.4.2
pyparsing~=2.2.2
Pygments~=2.6.1
colorama~=0.4.3
scipy~=1.5.2
traitlets~=4.3.3
wcwidth~=0.2.5
decorator~=4.4.2
pip~=20.2.2
setuptools~=49.6.0
