
params.config = {
    denoise = { }
    measure = { }
    preprocess = { }
    reconstruct = { }
    register = { }
    utils = { }
}

params.data_root = "tmp"
params.acquisition = {}
params.acquisition.readout = 0.112

params.masked_t1 = true

if ( params.processes ) {
    if(params.processes > Runtime.runtime.availableProcessors()) {
        throw new RuntimeException(
            "Number of processes higher than available CPUs."
        )
    }
    else if(params.processes < 1) {
        throw new RuntimeException(
            "When set, number of processes must be >= 1 " +
            "and smaller or equal to the number of CPUs."
        )
    }
    executor.$local.cpus = params.processes
}
else {
    params.processes = Runtime.runtime.availableProcessors()
}

process {
    withLabel: res_full_node { cpus = params.processes }
}